<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.EAS">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.root.EAS.MainActivity" />
        <activity android:name="com.example.root.EAS.BaseActivity" />
        <activity android:name="com.example.root.EAS.Accounts" />
        <activity android:name="com.example.root.EAS.Stock" />
        <activity android:name="com.example.root.EAS.BalanceSheet" />
        <activity android:name="com.example.root.EAS.NewReceipt" />
        <activity android:name="com.example.root.EAS.NewPayment" />
        <activity android:name="com.example.root.EAS.NewBill" />
        <activity android:name="com.example.root.EAS.NewPurchase" />
        <activity android:name="com.example.root.EAS.NewExpense" />
        <activity android:name="com.example.root.EAS.BankACC" />
        <activity android:name="com.example.root.EAS.SundryCreditors" />
        <activity android:name="com.example.root.EAS.SundryDebtors" />
        <activity android:name="com.example.root.EAS.NewAccount" />
        <activity android:name="com.example.root.EAS.NewStock" />
        <activity android:name="com.example.root.EAS.AccountView" />
        <activity android:name="com.example.root.EAS.StockView" />
        <activity android:name="com.example.root.EAS.Settings" />
        <activity android:name="com.example.root.EAS.BillView" />
        <activity android:name="com.example.root.EAS.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.root.EAS.LoginActivity" />
        <activity android:name="com.example.root.EAS.NewCompany" />
        <activity android:name="com.example.root.EAS.Sales" />
        <activity android:name="com.example.root.EAS.ReceiptView" />
        <activity
            android:name="com.example.root.EAS.PaymentView"
            android:label="@string/title_activity_payment_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.root.EAS.ExpenseView" />
        <activity android:name="com.example.root.EAS.PurchaseView"/>
    </application>
</manifest>